.pageturn {
    clear: both;
    height: 30px;
    margin: 0px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 50px;
    height: 100px;
    line-height: 50px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .active a {
    background: #717171;
    color: white;
    border-color: #eaeaea;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 50px;
    color: white;
    text-decoration: none;
    font-size: 27px;
}

.pageturn ul, ol {
    list-style: none;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}

.pageright {
    float: right;
    width: auto;
    display: inline;
    clear: none;
    margin-top: 10px;
}
